<<<<<<< HEAD
	color: -internal-root-color;
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
=======
	color: -internal-root-color;
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
>>>>>>> 8020dafd1371f3a1212ce25b2c07adc85ee36c5d
    vertical-align: baseline;